.offer {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  padding-top: 110px;
  width: 100%;
  height: 100%;
  background-color: #eaeaea;
  z-index: 75;
}

.offer--show {
  display: block;
}

.offer::before,
.offer::after {
  content: '';
  display: table;
  clear: both;
}

.offer .wrap {
  position: relative;
}

.offer__cross {
  position: absolute;
  top: 21px; 
  right: 18px;
  display: block;
  width: 32px;
  height: 32px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.offer__cross::before,
.offer__cross::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 40px;
  height: 6px;
  background-color: #fff;
}

.offer__cross::before {
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.offer__cross::after {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.offer__menu {
  float: left;
  width: 45%;
  font-size: 16px;
  line-height: 29px;
  text-transform: uppercase;
}

.offer__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.offer__link {
  font-family: "Stem_regular", sans-serif;
  color: #000;
  text-decoration: none;
  letter-spacing: 0.8px;
}

.offer__link:hover, 
.offer__link:active,
.offer__link:focus {
  text-decoration: underline;
} 

.offer__description {
/*  position: relative;*/
  float: right;
  width: 50%;
  height: 400px;
  font-family: "Stem_regular", sans-serif;
/*  overflow: hidden;*/
}

/*
.offer__description::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(to top, #eaeaea, transparent);
}
*/

.offer__title {
  margin: 0;
  font-size: 19px;
  text-transform: uppercase;
}

.offer__chapter {
  padding: 5px 0;
  font-size: 16px;
  text-decoration: underline;
}

.offer__chapter:target {
  color: #fff;
  text-decoration: underline;
  background-color: #00c853;
}

.subscripe {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 65;
  width: 100%;
  height: 100%;
  font-family: "Stem_regular", sans-serif;
  background-color: rgba(255, 228, 228, 0.9 );
}

.subscripe .wrap {
  position: relative;
}

.subscripe__wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.subscripe__wrap::before, 
.subscripe__wrap::after {
  content: '';
  position: absolute;
  top: -30px;
  width: 376px;
  height: 362px;
}

.subscripe__wrap::before {
  left: -280px;
  background: url("../img/icons/icon-cat-left.png") no-repeat 50% 50%;
  background-size: cover;
} 

.subscripe__wrap::after {
  right: -280px;
  background: url("../img/icons/icon-cat-right.png") no-repeat 50% 50%;
  background-size: cover;
}

.subscripe__form {
  position: relative;
  z-index: 20;
  padding: 52px 52px 32px;
  width: 593px;
  text-align: center;
  background-color: #fbeb95;
  box-sizing: border-box;
  box-shadow: 0 0 31px 1px rgba(0, 0, 0, 0.1); 
}

.subscripe__cross {
  position: absolute;
  top: 0;
  left: 50%;
  width: 33px;
  height: 33px;
  text-indent: 100%;
  white-space: nowrap;
  background: #fff url("../img/icons/icon-subscribe-cross.png") no-repeat 50% 50%;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  overflow: hidden;
}

.subscripe__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: "Stem_medium", sans-serif;
  font-size: 28px;
  color: #ff5a00;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.label {
  display: block;
  font-family: "Stem_regular", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.subscripe__label {
  margin: 0 auto;
  width: 392px;
  text-align: right;
}

input[type="email"],
input[type="text"],
input[type="tel"]{
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 0px 13px;
  display: block;
  width: 100%;
  height: 32px;
  font-family: "Stem_regular", sans-serif;
  color: #000;
  line-height: 32px;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  border: 2px solid #fff;
  border-radius: 16px;
  box-sizing: border-box;
  outline: none;
}

input[type="email"]:hover,
input[type="email"]:focus,
input[type="text"]:hover,
input[type="text"]:focus,
input[type="tel"]:hover,
input[type="tel"]:focus, {
  border: 2px solid #ff3703;
}

/*input[type="email"]::-webkit-input-placeholder { color: #757575; }*/
/*input[type="email"]::-moz-placeholder { color: #757575; }*/
/*input[type="email"]:-moz-placeholder { color: #757575; }*/
/*input[type="email"]:-ms-input-placeholder { color: #757575; }*/

button {
  width: 235px;
  height: 66px;
  background-color: #fff;
  font-family: "Stem_regular", sans-serif;
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border: none;
  border-radius: 33px;
  box-sizing: border-box;
  cursor: pointer;
}

.order {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 65;
  font-size: 12px;
  text-align: right;
  background-color: #fbeb95;
}

.order--show {
  display: block;
}

.order__form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  padding-right: 180px;
  width: 1000px;
  box-sizing: border-box;
  transform: translateX(-50%) translateY(-50%);
}

.order__form::before,
.order__form::after {
  content: '';
  display: table;
  clear: both;
}

.order__form * {
  box-sizing: border-box;
}
.scrollbar-inner {
  position: relative;
}
.order__header {
  padding-left: 60%;
  margin-bottom: 38px;
  padding-right: 12px;
  font-family: "Stem_regular", sans-serif;
  color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  letter-spacing: 2.33px;
}

.order__download {
  float: left;
  width: 315px;
}

.order__download::before,
.order__download::after {
  content: '';
  display: table;
  clear: both;
}

.order__label-upload {
  position: relative;
  margin-right: 14px;
  padding-top: 86px;
  display: block;
  width: 77px;
  text-align: center;
  cursor: pointer;
}

.order__label-upload::before {
  content: '';
  position: absolute;
  top: 27px;
  left: 50%;
  display: block;
  width: 70px;
  height: 16px;
  text-align: center;
  border-radius: 8px;
  background-color: #fff;
  transform: translateX(-50%);
}

.order__label-upload::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 16px;
  height: 70px;
  text-align: center;
  border-radius: 8px;
  background-color: #fff;
  transform: translateX(-50%);
}

.order__upload {
  display: none;
}

.order__link {
  font-family: "Stem_light_italic", sans-serif;
  font-size: 12px;
  color: #3096fb;
  text-transform: lowercase;
  text-decoration: underline;
} 

.order__gallery {
  padding-left: 43px;
  float: right;
  width: 222px;
  height: 420px;
  font-size: 0;
  text-align: left;
}

.order__photo {
  margin: 0;
  margin-right: 23px;
  margin-bottom: 50px;
  display: inline-block;
  width: 76px;
  height: auto;
  font-size: 12px;
  vertical-align: bottom;
  text-align: center;
  word-wrap: break-word;
/*  box-sizing: content-box;*/
}

.order__photo:nth-child(2n) {
  margin-right: 0;
}

.order__photo-name {
  margin: 0;
  margin-bottom: 8px;
  font-family: "Stem_light", sans-serif;
  color: #000;
}

.order__photo-wrap {
  position: relative;
  margin: 0 auto;
  width: 70px;
  height: 70px;
}

.order__img {
  width: 100%;
  height: auto;
  border: 3px solid #fff;
}

.order__photo-delete {
  position: absolute;
  bottom: -25px;
  left: 0;
  display: block;
  width: 100%;
  height: 26px;
  text-indent: 150%;
  white-space: nowrap;
  overflow: hidden;
  background: url("../img/btn_delete.png") no-repeat 50% 50%;
} 

.order__info {
  float: right;
  width: 404px;
}

.order label {
  float: left;
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 1.2px;
}

.order__label-firstname,
.order__label-lastname,
.order__label-delivery,
.order__label-tel {
  width: 191px;
}

.order__label-email {
  width: 100%;
}

.order__label-firstname,
.order__label-delivery {
  margin-right: 22px;
}

.order__delivery {
  display: none;
}

label.order__label-delivery {
  position: relative;
  margin-top: 20px;
  padding-left: 49px;
  font-family: "Stem_light", sans-serif;
  color: #000;
  line-height: 1.2;
  text-align: left;
  text-transform: lowercase;
  letter-spacing: 1px;
}

input[type='checkbox'] + label::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 50%;
}

input[type='checkbox'] + label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 8px;
  display: none;
  width: 25px;
  height: 29px;
  background-image: url("../img/icons/icon-check.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}

input[type='checkbox']:checked + label::after {
  display: block;
}

.order__send {
  float: left;
  margin-top: 95px;
}

.order__agree {
  margin: 0;
  margin-top: 12px;
  float: left;
  width: 234px;
  font-family: "Stem_light_italic", sans-serif;
  color: #3096fb;
  text-align: center;

}

.order__link, 
.order__link:hover, 
.order__link:active,
.order__link:visited {
  color: #3096fb;
}

.show {
  display: block;
}

.servive_video {
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
    z-index: 5;
    background: #000 url("../img/background_service.png") no-repeat 50%/cover;
}

/* для ширины больше 1440px */
@media only screen and (min-width: 1440px) {

  .order__form {
    width: 1108px;
  }

  .order__header { 
    padding-left: 0;
  }
  
  .order__info {
    width: 455px;
  }
  
  .order__label-firstname,
  .order__label-lastname,
  .order__label-delivery,
  .order__label-tel {
    width: 210px;
  }

  .order__label-email {
    width: 100%;
  }

  .order__label-firstname,
  .order__label-delivery {
    margin-right: 35px;
  }

}